<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Gosl 1.0.0' Id='{FD5661AB-A2F6-4848-AC24-86B1CB8F7476}' UpgradeCode='{AA385207-0193-48D8-92FE-1A35A9C62C1A}'
    Language='1033' Codepage='1252' Version='1.4.1' Manufacturer='Cpmech'>

    <Package Id='*' Keywords='Installer' Description="Gosl Installer"
      Comments='Gosl Go Scientific Library' Manufacturer='Cpmech'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Gosl Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>

      <!-- The following directory definitions is just to define Env Vars -->
      <Directory Id='GOPATH' Name='MyGo'>
      </Directory>
      <Directory Id='GCCPATH' Name='Gcc64'>
        <Directory Id='GCCBINPATH' Name='bin'>
        </Directory>
      </Directory>

      <Component Id='evGOPATH' Guid='{99FDA28D-53BB-42D5-B6C9-D0B7F74410E0}' KeyPath='yes'>
        <Environment Id='SetGOPATH' Action='set' Part='all' Name='GOPATH'
                     Permanent='no' System='yes' Value='[GOPATH]' />
      </Component>
    
      <Component Id='evGCCPATH' Guid='{F63973F0-82D2-41ED-A73D-702F946329C4}' KeyPath='yes'>
        <Environment Id='SetGCCPATH' Action='set' Part='last' Name='PATH'
                     Permanent='no' System='yes' Value='[GCCBINPATH]' />
      </Component>

    </Directory>

    <Feature Id='DefaultFeature' Title='Gosl' ConfigurableDirectory='TARGETDIR' Level='1'>

      <Feature Id='GoFiles' Title='GoFiles' Description='Go Files' Level='1'>
        <ComponentGroupRef Id='MyGo' />
      </Feature>

      <Feature Id='GccFiles' Title='GccFiles' Description='Gcc Files' Level='1'>
        <ComponentGroupRef Id='Gcc64' />
      </Feature>
      
      <Feature Id='ftGOPATH' Title='Set GOPATH variable' Level='1'>
        <ComponentRef Id='evGOPATH' />
      </Feature>

      <Feature Id='ftGCCPATH' Title='Add GCC64/bin to PATH' Level='1'>
        <ComponentRef Id='evGCCPATH' />
      </Feature>

    </Feature>

    <UIRef Id="MyUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
  </Product>
</Wix>