<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment>
  <UI>
    <Dialog Id="VarsDlg"  Width="370" Height="270" Title="Gosl" NoMinimize="yes">
      
      <Control Id="Label0" Type="Text" X="20"  Y="40" Width="220" Height="15" TabSkip="no" Text="The following Environment Variables will be set:" />
      
      <Control Id="Label1" Type="Text" X="25"  Y="60" Width="50"  Height="15" TabSkip="no" Text="GOPATH =" />
      <Control Id="Edit1"  Type="Text" X="75"  Y="60" Width="250" Height="15" TabSkip="no" Text="[GOPATH]" />
      
      <Control Id="Label2" Type="Text" X="25"  Y="80" Width="50"  Height="15" TabSkip="no" Text="PATH +=" />
      <Control Id="Edit2"  Type="Text" X="75"  Y="80" Width="250" Height="15" TabSkip="no" Text="[GCCBINPATH]" />

      <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back"></Control>
      <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next"></Control>
      <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
      </Control>
    </Dialog>
  </UI>
</Fragment>
</Wix>