name: Update pkg.go.dev

on:
  release:
    types:
      - created
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - '**/v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    name: Renew documentation
    runs-on: ubuntu-latest
    steps:
    - name: Pull new module version
      uses: andrewslotin/go-proxy-pull-action@master
    
    - name: Pull new module version (gocenter)
      uses: andrewslotin/go-proxy-pull-action@master
      with:
        goproxy: https://gocenter.io
  
