name: Compile and test the code

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    


    - name: Renew documentation
      run: |
        export TAG=${GITHUB_REF#refs/tags/*}
        echo $TAG
        export VERSION=${TAG##*/}
        echo $VERSION
        export PACKAGE=github.com/${GITHUB_REPOSITORY}
        export $PACKAGE
        if [[ "$VERSION" != "$TAG" ]]; then
          export PACKAGE=github.com/${GITHUB_REPOSITORY}/${TAG%"/$VERSION"}
        fi
        export GO111MODULE=on
        go get -d "$PACKAGE@$VERSION"
