name: Test & Coverage
on: [pull_request, push]
jobs:
  test_and_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Libraries
        run: |
          sudo apt-get install -y --no-install-recommends \
          gcc \
          gfortran \
          libfftw3-dev \
          liblapacke-dev \
          libmetis-dev \
          libmumps-seq-dev \
          libopenblas-dev \
          libsuitesparse-dev
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17
      - name: Build all
        run: |
          bash ./all.bash
      - name: Test & Coverage
        run: |
          go test -coverprofile=coverage.out -covermode=atomic ./...
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true